body{ font-family: 'Locust', cursiva;}
.cabesera{
    padding-top: 30px;
}
h1{ 
    text-align: center;

}
h2{
    text-align: center;
}
p{
    text-align: justify;
}
.img{
   border-radius: 20px;
    height: 120px;
     width: 120px;
     
}